body {
  background: lightgrey;
  font-family: 'Montserrat', sans-serif;
}

#title, #description, .navbar {
  text-align: center;
}

#title {
  font-family: 'Oswald', sans-serif;
  font-variant: small-caps;
}

.navbar ul {
  list-style-type: none;
  padding: 0 10px;
}

.navbar li {
  display: inline-block;
  padding: 0 2rem;
}

.navbar a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

svg {
  border: 1px solid white;
}

#treemap_container {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  stroke: black;
}

.tile-text {
  font-size: 0.4rem;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  line-height: 1.5rem;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

#tooltip h4, #tooltip p {
  margin: 0.5rem;
}

footer {
  padding: 5px;
  font-size: 0.75rem;
}
